.app {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  padding: 2% 5%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background: #ffb35d;
  /* padding: 0.2rem calc((100vw - 1000px) / 2); */
  padding: 0.5% 0.5%;
  padding-bottom: 0.75%;
  height: 85px;
  z-index: 12;
  position: sticky; 
  top: 0;
  display: flex;
  justify-content: space-between;

}

.logo-container {
  align-items: center;
  padding-top: 0;
  padding-left: 1%;
  width: 90px;

  .image-text {
    color: rgb(255, 255, 255);
    font-size: 100%;
    position: absolute;
    bottom: 2%;
    align-items: center;
    text-decoration: none;
  }
  
}

.logo-container img {
  align-self: center;
  height: 100%;
  width: auto;
}


.links {
  align-items: right;
  padding: 1rem 1rem;
  padding-top: 1.5rem;
  cursor: pointer;
  &.active {
  color: #000000;
  display: flex;
  flex-direction: row;
  width: auto;
  }

  .link {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    padding: 0 1rem;
    float: left; 
    }
  .link:hover {
    color: black;
    /* Change text color on hover (you can choose any color you like) */
  }
}

.section {
  /* padding: 5% 0%; */ 
  /* Above is real, bottom is just for testing purposes */
  padding: 30% 0%;
}

.login-container {
  /* background-color: #a6cbf8; */
  /* outline-color: #a6cbf8;
  outline-style: dashed; */

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem 2rem;
  align-self: center;
  align-items: center;
  margin-inline: 10%;
  margin-top: 5%;

  .form-container {
    /* background-color: beige; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .loginBubbles {
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 46px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }


  }

  .submitBubble {
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: rgb(62, 141, 211);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;

    
  }
  .submitBubble:hover {
    background-color: rgb(44, 19, 153);
    color: white;
    flex-direction: column;
    align-self: center;
  } 
}

